hemnode.json
[{"id":"fe822cc5.8e9f58","type":"inject","z":"63f8b436.6b2554","name":"Living room","topic":"living_room","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.5,"y":333.2499694824219,"wires":[["b1107c40.bda16"]]},{"id":"bc6d9592.4a221","type":"tellstick-in","z":"63f8b436.6b2554","name":"front_door_motion","inputconfig":"6a963a15.3347bc","x":152,"y":709.7500610351562,"wires":[["32aa2ea4.d6bd82","d88cb18.a9e5fd"]]},{"id":"6113f4e8.7fe47c","type":"tellstick-in","z":"63f8b436.6b2554","name":"front_door_bell","inputconfig":"4b2f3df2.fe67fc","x":142,"y":769.7500610351562,"wires":[["32aa2ea4.d6bd82","d88cb18.a9e5fd"]]},{"id":"59d24de7.a50934","type":"comment","z":"63f8b436.6b2554","name":"Handle front door lights","info":"","x":122,"y":669.7500610351562,"wires":[]},{"id":"4d0664b1.90b514","type":"trigger","z":"63f8b436.6b2554","op1":"turnon","op2":"turnoff","op1type":"str","op2type":"str","duration":"10","extend":false,"units":"min","reset":"","name":"","x":492,"y":634.7500610351562,"wires":[["64d8e512.3fc6ec"]]},{"id":"de9d427b.621278","type":"tellstick-out","z":"63f8b436.6b2554","name":"","device":"","devicefriendlyname":"","method":"","dimlevel":0,"x":1317.25,"y":371.25,"wires":[]},{"id":"f7b33b58.edcac8","type":"inject","z":"63f8b436.6b2554","name":"Diner","topic":"diner","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":133.25,"y":253.25,"wires":[["d95154c9.8ea4"]]},{"id":"5c7bada2.5e5aac","type":"inject","z":"63f8b436.6b2554","name":"Balcony","topic":"balcony","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":133.25,"y":293.25,"wires":[["f02c6301.ca66f"]]},{"id":"50b61ee6.a89c58","type":"inject","z":"63f8b436.6b2554","name":"Front Door","topic":"front_door","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":143.25,"y":373.25,"wires":[["6ff7f83c.707a38"]]},{"id":"c5b0129b.a29c28","type":"comment","z":"63f8b436.6b2554","name":"Web GUI","info":"","x":789.2500610351562,"y":210,"wires":[]},{"id":"a4c3f621.b304f","type":"comment","z":"63f8b436.6b2554","name":"Buttons","info":"","x":73.25,"y":213.25,"wires":[]},{"id":"970ba3bb.6140a","type":"function","z":"63f8b436.6b2554","name":"Set device","func":"var devices = global.get('devices');\nmsg.device=devices[msg.topic].id;        // get device number\nflow.set(msg.topic, msg.payload);        // Save method\nmsg.method = msg.payload;                // Set method in msg\nreturn msg;","outputs":1,"noerr":0,"x":1100.25,"y":371.25,"wires":[["f0bda9e8.96ce88","de9d427b.621278"]]},{"id":"f0bda9e8.96ce88","type":"debug","z":"63f8b436.6b2554","name":"Actions","active":true,"console":"false","complete":"true","x":1304.5,"y":434,"wires":[]},{"id":"32aa2ea4.d6bd82","type":"function","z":"63f8b436.6b2554","name":"Check front_door state","func":"var m = flow.get(\"front_door\")||\"turnoff\";  // Get light state\nvar day = flow.get(\"day\")||0;               // Get day state\nif (day==\"1\"||m==\"turnon\")                  // if day or lights turned on. do nothing\n    return null;\nreturn {\"topic\":\"front_door\"};              // Turn on front door light","outputs":"1","noerr":0,"x":480,"y":730.7500610351562,"wires":[["4d0664b1.90b514"]]},{"id":"7f1bdcf1.d6184c","type":"function","z":"63f8b436.6b2554","name":"Toggle lights","func":"switch (msg.payload) {\n    case \"sunset\": day = 0;\n                 break;\n    case \"dawn\": day = 1;\n                 break;\n    default: return\n}\nflow.set(\"day\",day);\nvar method=[\"turnon\",\"turnoff\"][day];\nreturn {\"payload\":method};","outputs":"1","noerr":0,"x":363.7499694824219,"y":589.5000610351562,"wires":[["55017cb7.975e7c","7d7ed58e.5ae6f4"]]},{"id":"fd30d0b0.23b448","type":"inject","z":"63f8b436.6b2554","name":"Adapter 1","topic":"adapter1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":143.25,"y":413.25,"wires":[["ff937593.15f748"]]},{"id":"a2dd7bc6.d38d68","type":"comment","z":"63f8b436.6b2554","name":"Lights on/off at  dusk/dawn","info":"","x":132,"y":549.7500610351562,"wires":[]},{"id":"82ca5ade.058da","type":"comment","z":"63f8b436.6b2554","name":"Test new sensors","info":"","x":107,"y":840.7500610351562,"wires":[]},{"id":"1de1d54.3b4f72b","type":"tellstick-in","z":"63f8b436.6b2554","name":"test","inputconfig":"ecbc1c2a.044328","x":117,"y":880.7500610351562,"wires":[["d88cb18.a9e5fd"]]},{"id":"d88cb18.a9e5fd","type":"debug","z":"63f8b436.6b2554","name":"Sensors","active":true,"console":"false","complete":"true","x":429,"y":829.7500610351562,"wires":[]},{"id":"dcc10f82.d7de","type":"inject","z":"63f8b436.6b2554","name":"Adapter 3","topic":"adapter3","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":143.25,"y":493.25,"wires":[["bd098aca.493968"]]},{"id":"4e5da861.701d8","type":"inject","z":"63f8b436.6b2554","name":"Adapter 2","topic":"adapter2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":143.25,"y":453.25,"wires":[["74696bfb.8f30dc"]]},{"id":"a6b3c299.b7dc48","type":"sun events","z":"63f8b436.6b2554","testmode":false,"verbose":false,"topic":"","name":"","x":122,"y":589.7500610351562,"wires":[["7f1bdcf1.d6184c"]]},{"id":"b9ca92c7.abd108","type":"ui_switch","z":"63f8b436.6b2554","name":"Living Room Switch","label":"Living Room","group":"b35c9cec.327da","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"living_room","onvalue":"turnon","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"orange","offvalue":"turnoff","offvalueType":"str","officon":"lightbulb_outline","offcolor":"black","x":815.5,"y":332.2499694824219,"wires":[["970ba3bb.6140a"]]},{"id":"afc8c17e.477bc8","type":"ui_switch","z":"63f8b436.6b2554","name":"Diner Switch","label":"Diner","group":"b658465e.2ac3b","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"diner","onvalue":"turnon","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"orange","offvalue":"turnoff","offvalueType":"str","officon":"lightbulb_outline","offcolor":"black","x":797.25,"y":252.25,"wires":[["970ba3bb.6140a"]]},{"id":"55017cb7.975e7c","type":"ui_switch","z":"63f8b436.6b2554","name":"Balcony Switch","label":"Balcony","group":"fe68548f.ee2ad8","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"balcony","onvalue":"turnon","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"orange","offvalue":"turnoff","offvalueType":"str","officon":"lightbulb_outline","offcolor":"black","x":807.25,"y":293.25,"wires":[["970ba3bb.6140a"]]},{"id":"64d8e512.3fc6ec","type":"ui_switch","z":"63f8b436.6b2554","name":"Front Door Switch","label":"Front Door","group":"367d2842.b30c48","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"front_door","onvalue":"turnon","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"orange","offvalue":"turnoff","offvalueType":"str","officon":"lightbulb_outline","offcolor":"black","x":812.25,"y":375.25,"wires":[["970ba3bb.6140a"]]},{"id":"7d7ed58e.5ae6f4","type":"ui_switch","z":"63f8b436.6b2554","name":"Adapter 1 Switch","label":"Adapter 1","group":"739eca4f.fef8dc","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"adapter1","onvalue":"turnon","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"orange","offvalue":"turnoff","offvalueType":"str","officon":"lightbulb_outline","offcolor":"black","x":807.25,"y":417.25,"wires":[["970ba3bb.6140a"]]},{"id":"9fefe3d6.a8fa9","type":"ui_switch","z":"63f8b436.6b2554","name":"Adapter 2 Switch","label":"Adapter 2","group":"18183396.e6bbec","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"adapter2","onvalue":"turnon","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"orange","offvalue":"turnoff","offvalueType":"str","officon":"lightbulb_outline","offcolor":"black","x":804.25,"y":455.25,"wires":[["970ba3bb.6140a"]]},{"id":"e084a4ac.2dd6f","type":"ui_switch","z":"63f8b436.6b2554","name":"Adapter 3 Switch","label":"Adapter 3","group":"4ddef02a.bf6018","order":1,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"adapter3","onvalue":"turnon","onvalueType":"str","onicon":"lightbulb_outline","oncolor":"orange","offvalue":"turnoff","offvalueType":"str","officon":"lightbulb_outline","offcolor":"black","x":805.25,"y":497.25,"wires":[["970ba3bb.6140a"]]},{"id":"b1107c40.bda16","type":"function","z":"63f8b436.6b2554","name":"Set method","func":"var m = flow.get(msg.topic)||\"turnoff\";  // Get light state\nmsg.payload = m=='turnoff'?'turnon':'turnoff';\nreturn msg;","outputs":1,"noerr":0,"x":365.5,"y":333.2499694824219,"wires":[["b9ca92c7.abd108"]]},{"id":"d95154c9.8ea4","type":"function","z":"63f8b436.6b2554","name":"Set method","func":"var m = flow.get(msg.topic)||\"turnoff\";  // Get light state\nmsg.payload = m=='turnoff'?'turnon':'turnoff';\nreturn msg;","outputs":1,"noerr":0,"x":369.25,"y":253.25,"wires":[["afc8c17e.477bc8"]]},{"id":"f02c6301.ca66f","type":"function","z":"63f8b436.6b2554","name":"Set method","func":"var m = flow.get(msg.topic)||\"turnoff\";  // Get light state\nmsg.payload = m=='turnoff'?'turnon':'turnoff';\nreturn msg;","outputs":1,"noerr":0,"x":370.25,"y":293.25,"wires":[["55017cb7.975e7c"]]},{"id":"6ff7f83c.707a38","type":"function","z":"63f8b436.6b2554","name":"Set method","func":"var m = flow.get(msg.topic)||\"turnoff\";  // Get light state\nmsg.payload = m=='turnoff'?'turnon':'turnoff';\nreturn msg;","outputs":1,"noerr":0,"x":368.25,"y":373.25,"wires":[["64d8e512.3fc6ec"]]},{"id":"ff937593.15f748","type":"function","z":"63f8b436.6b2554","name":"Set method","func":"var m = flow.get(msg.topic)||\"turnoff\";  // Get light state\nmsg.payload = m=='turnoff'?'turnon':'turnoff';\nreturn msg;","outputs":1,"noerr":0,"x":367.25,"y":413.25,"wires":[["7d7ed58e.5ae6f4"]]},{"id":"74696bfb.8f30dc","type":"function","z":"63f8b436.6b2554","name":"Set method","func":"var m = flow.get(msg.topic)||\"turnoff\";  // Get light state\nmsg.payload = m=='turnoff'?'turnon':'turnoff';\nreturn msg;","outputs":1,"noerr":0,"x":369.25,"y":453.25,"wires":[["9fefe3d6.a8fa9"]]},{"id":"bd098aca.493968","type":"function","z":"63f8b436.6b2554","name":"Set method","func":"var m = flow.get(msg.topic)||\"turnoff\";  // Get light state\nmsg.payload = m=='turnoff'?'turnon':'turnoff';\nreturn msg;","outputs":1,"noerr":0,"x":366.25,"y":493.25,"wires":[["e084a4ac.2dd6f"]]},{"id":"30a0a797.758a7","type":"inject","z":"63f8b436.6b2554","name":"Initialize","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":147,"y":39,"wires":[["5873a228.1e951c"]]},{"id":"c18c2f4c.2c303","type":"function","z":"63f8b436.6b2554","name":"Get installed Devices","func":"// Try to get this from /etc/tellstick.conf\n//var devices=[\"diner\", \n//             \"balcony\",\n//             \"living_room\",\n//             \"front_door\",\n//             \"bell\",\n//             \"adapter_1\",\n//             \"adapter_2\",\n//             \"adapter_3\"];\n\nconst IDLE = 0;\nconst DEVICE = 1;\nconst PARAMETER = 2;\n\nvar devices = {};\nvar state = IDLE;\n\nvar lines = msg.payload.split('\\n');                         // Seperate lines\nfor (var i=0,l=lines.length;i<l;i++) {\n  var line = lines[i].trim();                               // Remove whitespace\n  if (line.startsWith('#')) continue;                       // skip comments\n\n  // State Machine\n  if (!state && line.startsWith('device {')) {              // Start of device block\n    state++;                                                // State = DEVICE\n    var dev = {};                                           // Create new device\n    continue;\n  } else if (state && line.startsWith('parameters {')) {    // Start of parameters block\n    state++;                                                // State = PARAMETER \n    continue;\n  } else if (state && line.startsWith('}')) {               // End of block\n    state--;                                                // Change state\n    if (state===IDLE)                                       // End of device block\n      devices[dev.name.toLowerCase().replace(/ /g,'_')] = dev; // Save device data\n    continue;\n  }\n  if (state===DEVICE) {                                     // Read device block only\n    var pair = line.split('=');                             // name = value \n    dev[pair[0].trim()] = pair[1].trim().replace(/\"/g,'');   // Save device data\n  }\n}\nglobal.set('devices',devices);\nglobal.set('device',Object.keys(devices)[0]);   // Set default device\nmsg.payload = devices;\nreturn msg","outputs":1,"noerr":0,"x":484,"y":39,"wires":[["5deeb227.8bd76c"]]},{"id":"99aefd4e.dabcb","type":"ui_button","z":"63f8b436.6b2554","name":"Living Room Schedule","group":"b35c9cec.327da","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"black","bgcolor":"","icon":"today","payload":"Scheduler","payloadType":"str","topic":"living_room","x":817,"y":625,"wires":[["48bbae54.48e3b"]]},{"id":"ede6a286.01d258","type":"ui_ui_control","z":"63f8b436.6b2554","name":"Jump to scheduler","x":1296,"y":729,"wires":[[]]},{"id":"33357406.0971ac","type":"ui_button","z":"63f8b436.6b2554","name":"Diner Schedule","group":"b658465e.2ac3b","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"black","bgcolor":"","icon":"today","payload":"Scheduler","payloadType":"str","topic":"diner","x":796,"y":660,"wires":[["48bbae54.48e3b"]]},{"id":"3dd359dd.88ae3e","type":"ui_button","z":"63f8b436.6b2554","name":"Balcony Schedule","group":"fe68548f.ee2ad8","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"black","bgcolor":"","icon":"today","payload":"Scheduler","payloadType":"str","topic":"balcony","x":806,"y":694,"wires":[["48bbae54.48e3b"]]},{"id":"bc6b2cb.f5019d","type":"ui_button","z":"63f8b436.6b2554","name":"Front Door Schedule","group":"367d2842.b30c48","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"black","bgcolor":"","icon":"today","payload":"Scheduler","payloadType":"str","topic":"front_door","x":814,"y":730,"wires":[["48bbae54.48e3b"]]},{"id":"bfe578b1.f72b9","type":"ui_button","z":"63f8b436.6b2554","name":"Adapter 1 Schedule","group":"739eca4f.fef8dc","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"black","bgcolor":"","icon":"today","payload":"Scheduler","payloadType":"str","topic":"adapter1","x":816,"y":765,"wires":[["48bbae54.48e3b"]]},{"id":"cf01a5d2.bee5c8","type":"ui_button","z":"63f8b436.6b2554","name":"Adapter 2 Schedule","group":"18183396.e6bbec","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"black","bgcolor":"","icon":"today","payload":"Scheduler","payloadType":"str","topic":"adapter2","x":816,"y":801,"wires":[["48bbae54.48e3b"]]},{"id":"18ffa1cb.ac9026","type":"ui_button","z":"63f8b436.6b2554","name":"Adapter 3 Schedule","group":"4ddef02a.bf6018","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"black","bgcolor":"","icon":"today","payload":"Scheduler","payloadType":"str","topic":"adapter3","x":818,"y":838,"wires":[["48bbae54.48e3b"]]},{"id":"48bbae54.48e3b","type":"function","z":"63f8b436.6b2554","name":"Save device","func":"global.set('device', msg.topic)\nreturn msg;","outputs":1,"noerr":0,"x":1085,"y":729,"wires":[["ede6a286.01d258"]]},{"id":"7cf67164.d9b22","type":"inject","z":"63f8b436.6b2554","name":"Every minute","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":true,"x":155.75,"y":146.00006103515625,"wires":[["62211a1.9bb1764"]]},{"id":"62211a1.9bb1764","type":"function","z":"63f8b436.6b2554","name":"Process Schedule","func":"var schedule=global.get(\"schedule\");                // Get scheduled actions\nvar devices = global.get(\"devices\");                // Get list of devices\n\nvar now = new Date();                               // Get current date & time\nvar hour = (now.getDay()*24)+now.getHours();        // Get index into schedule\nvar mins = now.getMinutes();                        // Get minute\nlet msgs = Object.keys(devices).map(function(x) {return null;});     // Initialize list of action to perform\nfor (var dev in devices) {                          // For each device\n    var msg = {};\n    msg.device = devices[dev].id;                   // Get device id\n    let action = schedule[dev][hour];               // Get action to perform\n    let prev = schedule[dev][((hour-1)+168)%168];   // Get previous action (wrap around index)\n    let next = schedule[dev][(hour+1)%168];         // Get next action (wrap around index)\n    switch (action) {\n        // Check for new action at the beginning of the hour ie minute = 0\n        // Turn off device, but only if it was on before (based on schedule)\n        case 0: if (mins===0 && prev) msg.payload = 'turnoff';   \n                break;\n        // Turn on device, but only if it was off before (based on schedule)\n        case 1: if (mins===0 && !prev) msg.payload = 'turnon';   \n                break;\n        // Check if a random time needs to be set\n        case 2: if (mins===0)  {                    \n                    schedule[dev][168] = -1;                                                    // Make sure to skip rnadom time hanlding following this\n                    if (!prev)      schedule[dev][168] = Math.floor(Math.random() * 30 + 1);    // First random timing => value between 1 - 29\n                    else if (!next) schedule[dev][168] = Math.floor(Math.random() * 30 + 31);   // Last random timing => value between 31 - 59\n                    node.log('RANDOM TIME: '+schedule[dev][168]);\n                } \n                if (schedule[dev][168]>0) {                                                     // Handle any random time set\n                    rnd = --schedule[dev][168];                                                 // Decrease random value\n                    if (!rnd) msg.payload = prev?'turnoff':'turnon';                            // Turn on or off device when random time expired\n                }\n    }\n    if (msg.payload) msgs[msg.device-1]=msg;        // push msg for device\n}\nglobal.set(\"schedule\", schedule);                   // Save schedule (random time)\nif (msg.payload) node.log(msgs);                    \nreturn msgs;                                        // send actions\n\n","outputs":"8","noerr":0,"x":393.5,"y":145.75006103515625,"wires":[["afc8c17e.477bc8"],["55017cb7.975e7c"],["b9ca92c7.abd108"],["64d8e512.3fc6ec"],[],["7d7ed58e.5ae6f4"],["9fefe3d6.a8fa9"],["e084a4ac.2dd6f"]],"outputLabels":["","","","","bell","","",""]},{"id":"c7353589.5b9b7","type":"comment","z":"63f8b436.6b2554","name":"Perform Scheduled Action","info":"","x":134.75,"y":105.00006103515625,"wires":[]},{"id":"5873a228.1e951c","type":"file in","z":"63f8b436.6b2554","name":"Read conf","filename":"/etc/tellstick.conf","format":"utf8","chunk":false,"sendError":false,"x":295,"y":39,"wires":[["c18c2f4c.2c303"]]},{"id":"5deeb227.8bd76c","type":"debug","z":"63f8b436.6b2554","name":"Devices","active":true,"console":"false","complete":"true","x":662.5556640625,"y":38.77777862548828,"wires":[]},{"id":"6a963a15.3347bc","type":"tellstick-input","z":"","name":"motion_detector_front","deviceclass":"command","deviceprotocol":"arctech","devicegroup":"0","devicehouse":"20865426","devicemethod":"turnon","devicemodel":"selflearning","deviceunit":"10","devicecode":"","deviceid":""},{"id":"4b2f3df2.fe67fc","type":"tellstick-input","z":"","name":"bell_front","deviceclass":"command","deviceprotocol":"arctech","devicegroup":"1","devicehouse":"17768710","devicemethod":"turnon","devicemodel":"selflearning","deviceunit":"1","devicecode":"","deviceid":""},{"id":"ecbc1c2a.044328","type":"tellstick-input","z":"","name":"test","deviceclass":"command","deviceprotocol":"arctech","devicegroup":"0","devicehouse":"16352841","devicemethod":"turnoff","devicemodel":"selflearning","deviceunit":"9","devicecode":"","deviceid":""},{"id":"b35c9cec.327da","type":"ui_group","z":"63f8b436.6b2554","name":"Living Room","tab":"272a3c34.2a81a4","disp":false,"width":"6"},{"id":"b658465e.2ac3b","type":"ui_group","z":"","name":"Diner","tab":"272a3c34.2a81a4","order":2,"disp":false,"width":"6"},{"id":"fe68548f.ee2ad8","type":"ui_group","z":"","name":"Balcony","tab":"272a3c34.2a81a4","order":3,"disp":false,"width":"6"},{"id":"367d2842.b30c48","type":"ui_group","z":"","name":"Front Door","tab":"272a3c34.2a81a4","order":4,"disp":false,"width":"6"},{"id":"739eca4f.fef8dc","type":"ui_group","z":"","name":"Adapter 1","tab":"272a3c34.2a81a4","order":5,"disp":false,"width":"6"},{"id":"18183396.e6bbec","type":"ui_group","z":"","name":"Adapter 2","tab":"272a3c34.2a81a4","order":6,"disp":false,"width":"6"},{"id":"4ddef02a.bf6018","type":"ui_group","z":"","name":"Adapter 3","tab":"272a3c34.2a81a4","order":7,"disp":false,"width":"6"},{"id":"272a3c34.2a81a4","type":"ui_tab","z":"","name":"Lights","icon":"lightbulb_outline","order":"1"}]
