scheduler.json
[{"id":"42a7587a.c358f","type":"ui_template","z":"f1784199.91d75","group":"c09b265c.8fa568","name":"css etc","order":1,"width":"0","height":"0","format":"<style>\n\n.filled { height: 48px !important;padding: 0 !important; margin: 0 !important;}\n.nr-dashboard-template { padding: 0; margin: 0;}\n.rounded { border-radius: 12px 12px 12px 12px;}\n.bigfont { font-size: 18px;}\n.smallfont { font-size: 12px;}\n.thedays { cursor:pointer; vertical-align:bottom; height:48px; }\n.the2px  { background-color: #000000; height:2px; }\n.theblocks {width:100%; height:0%; background-color:#000000; }\n.greybuttons { background-color:#000000 !important; width:48px; border: none;}\n.thetemps { cursor:pointer; font-size:70%; color:#000000 !important; }\n.smallheadings { font-size:80%; }\n\n</style>\n\n<script>\nvar current=1;\n\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),50);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":320,"y":100,"wires":[[]]},{"id":"bf9043cc.226c7","type":"inject","z":"f1784199.91d75","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":269,"y":347,"wires":[["64f12d93.574364"]]},{"id":"1b474973.7d8b77","type":"ui_text","z":"f1784199.91d75","group":"c09b265c.8fa568","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":663,"y":347,"wires":[]},{"id":"f81cd94b.0337f8","type":"ui_template","z":"f1784199.91d75","group":"c09b265c.8fa568","name":"Settings page","order":3,"width":"0","height":"0","format":"<script>\n    const Days=[\"SUNDAY\",\"MONDAY\",\"TUESDAY\",\"WEDNESDAY\",\"THURSDAY\",\"FRIDAY\",\"SATURDAY\"];\n    const Actions =[['Off','25%','#b30101'],    // Off settings\n                    ['On','50%','#118b45'],     // On settings\n                    ['Rnd','50%','#FFBF00']];   // Random settings\n    const ID = \"DD\";\n    var last = 24;\n    \n    function feedback(text) {\n        $(\"#info\"+ID).text(text);\n        var tm=setTimeout(function(){ $(\"#info\"+ID).text(\"Ok\"); clearTimeout(tm);}, 5000);\n    }\n    \n    function selected(val,sta) {\n        var w = \"#td\"+val+ID;\n        var color = (sta==1)?'#0080FF':'#000000';\n        $(w).css('background-color',color);\n    }\n    \n    (function(scope){\n        scope.ID_0 = ID;\n        scope.send({payload: ''})                               // Refresh screen\n        scope.$watch('msg', function(msg) {\n            dev = msg.device;\n            $('#dev'+ID).text(dev);                             // Update Device name\n            selected(last,0); last=msg.selector; selected(last,1);    // Indicate last selected hour\n            for (var x=0; x<24; x++) { \n                var action = msg.schedule[(msg.day-1)*24+x];    // get scheduled Action\n                var v=\"#v\"+x+ID;                                  \n                $(v).text(Actions[action][0]);                  // Set Action text\n                v=\"#t\"+x+ID; \n                $(v).height(Actions[action][1]);                // Set box height\n                $(v).css('background-color', Actions[action][2]);   // Set box color\n            } \n            //for (var x=0; x<2; x++) { \n            //    var w=\"#s\"+x+ID; $(w).text(msg.schedule[168+x]);\n            //}\n            $(\"#d0\"+ID).text(Days[msg.day-1]);                  // Set day\n            var c = (msg.selector===24)?'#0080FF':'transparent';\n            $(\"#d0\"+ID).css('background-color',c)\n            //if (last<24)\n            //    $(\"#current\"+ID).text(Actions[action][0]);      // Set current text\n            //else\n            //    $(\"#current\"+ID).text(\"-\");\n                 \n            if (msg.status!=\"\") { feedback(msg.status);  }\n        });\n    \n    })(scope);\n</script>\n\n<table style=\"width:100%\">\n    <tr>\n        <td colspan=4><span>Device</span></td>\n        <td colspan=20><span id=\"{{ 'dev' + ID_0 }}\" style=\"font-size:120%\"></span></td>\n    </tr>\n    <tr>\n        <td colspan=4><span>Day</span></td>\n        <td ng-click=\"send({payload: '24'})\" colspan=20 id=\"{{ 'td24' + ID }}\">\n            <span id=\"{{ 'd0' + ID_0 }}\" style=\"cursor:pointer;font-size:120%;width:100%\"></span>\n        </td>\n    </tr>\n    \n    <tr style=\"height:2px\">\n        <td colspan=24 style=\"background-color:#9E9E9E;height:2px;\"></td>        \n    </tr>  \n\n    <tr>\n        <td ng-click=\"send({payload: '0'})\" class=\"thedays\"><span id=\"{{ 'v0' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't0' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '1'})\" class=\"thedays\"><span id=\"{{ 'v1' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't1' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '2'})\" class=\"thedays\"><span id=\"{{ 'v2' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't2' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '3'})\" class=\"thedays\"><span id=\"{{ 'v3' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't3' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '4'})\" class=\"thedays\"><span id=\"{{ 'v4' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't4' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '5'})\" class=\"thedays\"><span id=\"{{ 'v5' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't5' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '6'})\" class=\"thedays\"><span id=\"{{ 'v6' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't6' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '7'})\" class=\"thedays\"><span id=\"{{ 'v7' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't7' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '8'})\" class=\"thedays\"><span id=\"{{ 'v8' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't8' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '9'})\" class=\"thedays\"><span id=\"{{ 'v9' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't9' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '10'})\" class=\"thedays\"><span id=\"{{ 'v10' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't10' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '11'})\" class=\"thedays\"><span id=\"{{ 'v11' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't11' + ID_0 }}\" class=\"theblocks\"></div></td>\n    </tr>  \n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td0' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td1' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td2' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td3' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td4' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td5' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td6' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td7' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td8' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td9' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td10' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td11' + ID_0 }}\" class=\"the2px\"></td>\n    </tr>   \n    \n    <tr>\n        <td align=\"center\">0</td>\n        <td align=\"center\">1</td>\n        <td align=\"center\">2</td>\n        <td align=\"center\">3</td>\n        <td align=\"center\">4</td>\n        <td align=\"center\">5</td>\n        <td align=\"center\">6</td>\n        <td align=\"center\">7</td>\n        <td align=\"center\">8</td>\n        <td align=\"center\">9</td>\n        <td align=\"center\">10</td>\n        <td align=\"center\">11</td>\n    </tr> \n    \n    <tr>\n        <td ng-click=\"send({payload: '12'})\" class=\"thedays\"><span id=\"{{ 'v12' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't12' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '13'})\" class=\"thedays\"><span id=\"{{ 'v13' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't13' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '14'})\" class=\"thedays\"><span id=\"{{ 'v14' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't14' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '15'})\" class=\"thedays\"><span id=\"{{ 'v15' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't15' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '16'})\" class=\"thedays\"><span id=\"{{ 'v16' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't16' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '17'})\" class=\"thedays\"><span id=\"{{ 'v17' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't17' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '18'})\" class=\"thedays\"><span id=\"{{ 'v18' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't18' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '19'})\" class=\"thedays\"><span id=\"{{ 'v19' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't19' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '20'})\" class=\"thedays\"><span id=\"{{ 'v20' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't20' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '21'})\" class=\"thedays\"><span id=\"{{ 'v21' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't21' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '22'})\" class=\"thedays\"><span id=\"{{ 'v22' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't22' + ID_0 }}\" class=\"theblocks\"></div></td>\n        <td ng-click=\"send({payload: '23'})\" class=\"thedays\"><span id=\"{{ 'v23' + ID_0 }}\" class=\"thetemps\"></span><div id=\"{{ 't23' + ID_0 }}\" class=\"theblocks\"></div></td>\n    </tr>  \n    \n    <tr style=\"height:2px\">\n        <td id=\"{{ 'td12' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td13' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td14' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td15' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td16' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td17' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td18' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td19' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td20' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td21' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td21' + ID_0 }}\" class=\"the2px\"></td>\n        <td id=\"{{ 'td23' + ID_0 }}\" class=\"the2px\"></td>\n    </tr>  \n    \n    <tr>\n        <td align=\"center\">12</td>\n        <td align=\"center\">13</td>\n        <td align=\"center\">14</td>\n        <td align=\"center\">15</td>\n        <td align=\"center\">16</td>\n        <td align=\"center\">17</td>\n        <td align=\"center\">18</td>\n        <td align=\"center\">19</td>\n        <td align=\"center\">20</td>\n        <td align=\"center\">21</td>\n        <td align=\"center\">22</td>\n        <td align=\"center\">23</td>\n    </tr> \n    \n    <tr height=\"20px\">\n        <td colspan=2 class=\"smallheadings\">Status:</td>\n\n        <td colspan=10 ><center><span id=\"{{ 'info' + ID }}\" class=\"smallheadings\" ></span></center></td>\n\n    </tr>\n    \n    <tr height=\"10px\">\n        <td colspan=\"12\"></td>\n    </tr>\n    <tr>\n        <td>&nbsp;</td>\n        <td colspan=2 style=\"text-align:center\">\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\"> \n                <ng-md-icon style=\"color: #fff;\" icon=\"keyboard_arrow_down\"></ng-md-icon>\n            </button> \n        </td>\n        <!-- td colspan=2 style=\"text-align:center\">\n            <span id=\"{{ 'current' + ID_0 }}\" style=\"font-size:120%\">-</span>\n        </td -->\n        <td colspan=2 style=\"text-align:center\">\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n                <ng-md-icon style=\"color: #fff;\" icon=\"keyboard_arrow_up\"></ng-md-icon>\n            </button> \n        </td>\n        <td colspan=2 style=\"text-align:center\">\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'r'})\"> \n               <ng-md-icon style=\"color: #fff;\" icon=\"content_copy\">\n                    <md-tooltip md-direction=\"bottom\">COPY</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n        <td colspan=2 style=\"text-align:center\">\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 's'})\"> \n                 <ng-md-icon style=\"color: #fff;\" icon=\"save\">\n                    <md-tooltip md-direction=\"bottom\">SAVE</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n        <td colspan=2 style=\"text-align:center\">\n            <button class=\"vibrate filled touched smallfont rounded greybuttons\"  ng-click=\"send({payload: 'c'})\"> \n                 <ng-md-icon style=\"color: #fff;\" icon=\"undo\">\n                    <md-tooltip md-direction=\"bottom\">CANCEL</md-tooltip>\n                </ng-md-icon>\n            </button> \n        </td>\n        <td>&nbsp;</td>\n    </tr>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":333,"y":136,"wires":[["309899c4.df3216"]]},{"id":"309899c4.df3216","type":"function","z":"f1784199.91d75","name":"Process controls","func":"// Constants\nconst Actions = ['Off','On','Random']\nconst Days=[\"SUNDAY\",\"MONDAY\",\"TUESDAY\",\"WEDNESDAY\",\"THURSDAY\",\"FRIDAY\",\"SATURDAY\"];\n\n// Get saved data\nvar devices = global.get('devices');\nvar schedule=global.get('schedule');\nvar dev = global.get('device');\nvar day = flow.get('day')||1;\nvar selector = flow.get('selector');\n\nvar hour = ((day-1)*24)+selector;\nvar action = schedule[dev][hour];\n\n// Handle requested action\nswitch (msg.payload) {\n    case \"u\" :  if ((selector<24)) {                            // Change Hour action\n                    action += 1;                                // Update action\n                    schedule[dev][hour] = action%3;             // Set scheduled action (0 < action < 2)\n                    msg.status=Actions[schedule[dev][hour]];    // set status message\n                } else if (selector==24) {                      // Change day\n                    day = (day==7)?1:day+1;                     // Next day\n                    msg.status=\"Next day\";                      // Set status message\n                }\n                break;\n    case \"d\" :  if (selector<24) {                              // Change Hour action\n                    action -= 1;                                // Update action\n                    schedule[dev][hour] = (action+3)%3;         // Set scheduled action (0 < action < 2)\n                    msg.status=Actions[schedule[dev][hour]];    // Set status message\n                } else if (selector==24) {                      // Change day\n                    day = (day==1)?7:day-1;                     // Previous day\n                    msg.status=\"Previous day\";                  // Set status message\n                }\n                break;\n    case 'r' :  if (selector<24) {                              // Copy action to next hour\n                    schedule[dev][hour+1] = schedule[dev][hour];   \n                    selector++;                                 // update selected hour\n                    msg.status=\"Action copied to the next hour\";\n                } else {                                        // Copy schedule to next day\n                    for (var a=0;a<24;a++)\n                        schedule[dev][((day%7)*24)+a]=schedule[dev][((day-1)*24)+a];   \n                    day = (day==7)?1:day+1;                     // Next day\n                    msg.status=\"Schedule copied to \"+Days[day-1];\n                }\n                //else if(day==7)\n                //    msg.status=\"End of Week!\";\n                break;\n    case 's':   msg.payload=JSON.stringify(schedule);\n                node.send([null,msg,null]); \n                msg.payload = '';\n                msg.status=\"Saved Settings\"; \n                break;\n    case 'c' :  msg.payload=\"\";  \n                msg.status=\"Changes canceled\"; \n                return [null,null,msg];\n    case '0':\n    case '1':\n    case '2':\n    case '3':\n    case '4':\n    case '5':\n    case '6':\n    case '7':\n    case '8':\n    case '9':\n    case '10':\n    case '11':\n    case '12':\n    case '13':\n    case '14':\n    case '15':\n    case '16':\n    case '17':\n    case '18':\n    case '19':\n    case '20':\n    case '21':\n    case '22':\n    case '23':  \n    case '24':  selector = parseInt(msg.payload);\n                msg.status=(selector==24)?\"Day Selected\":(\"Hour Selected: \" + selector);\n}\n\n// Save data if there was a  payload\nif (msg.payload!=='') {\n    global.set('schedule',schedule)\n    flow.set('day',day)\n    flow.set('selector',selector)\n}\n\n// Send data to GUI\nmsg.schedule=schedule[dev];     // Just the current devices data\nmsg.device=devices[dev].name;   // Current Device name\nmsg.day=day;                    //\nmsg.selector=selector;\n\nreturn [msg,null,null];\n","outputs":"3","noerr":0,"x":556,"y":188,"wires":[["fdfc5ea6.675778"],["f1c4de3f.9f328"],["cf5f822a.df17a"]]},{"id":"118b7e7d.3a6172","type":"inject","z":"f1784199.91d75","name":"Initialize","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":260,"y":228,"wires":[["cf5f822a.df17a"]]},{"id":"f1c4de3f.9f328","type":"file","z":"f1784199.91d75","name":"backup","filename":"/home/osmc/.node-red/schedulers/on_off_scheduler.log","appendNewline":true,"createDir":true,"overwriteFile":"true","x":745,"y":187,"wires":[]},{"id":"cf5f822a.df17a","type":"file in","z":"f1784199.91d75","name":"Restore","filename":"/home/osmc/.node-red/schedulers/on_off_scheduler.log","format":"utf8","sendError":true,"x":745,"y":228,"wires":[["bd5964e1.752e7"]]},{"id":"bd5964e1.752e7","type":"function","z":"f1784199.91d75","name":"Restore data from SD","func":"if (msg.hasOwnProperty('payload') && msg.payload!==\"\") {\n    global.set('schedule',JSON.parse(msg.payload));\n} else {\n    var devices = global.get('devices');\n    var schedule = {};\n    for (var dev in devices) {\n        schedule[dev]= [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,\n                        0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,\n                        0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,\n                        0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,\n                        0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,\n                        0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,\n                        0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,\n                        6,1\n                       ];\n    }\n    //node.log(schedule);\n    global.set('schedule',schedule);\n}\nflow.set('day',flow.get('day')||1);\nflow.set('selector',flow.get('selector')||24);\n\nmsg.payload=\"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":936,"y":228,"wires":[["bf643669.e0c138"]]},{"id":"f6560198.4ad878","type":"link in","z":"f1784199.91d75","name":"restoreSD","links":["bf643669.e0c138"],"x":394,"y":188,"wires":[["309899c4.df3216"]]},{"id":"bf643669.e0c138","type":"link out","z":"f1784199.91d75","name":"restoreSD","links":["f6560198.4ad878"],"x":1082,"y":228,"wires":[]},{"id":"fdfc5ea6.675778","type":"link out","z":"f1784199.91d75","name":"setSettings","links":["5220754.5d4830c"],"x":708.5,"y":148,"wires":[]},{"id":"5220754.5d4830c","type":"link in","z":"f1784199.91d75","name":"setSettings","links":["fdfc5ea6.675778"],"x":200.5,"y":136,"wires":[["f81cd94b.0337f8"]]},{"id":"64f12d93.574364","type":"function","z":"f1784199.91d75","name":"Insert date","func":"msg.payload = new Date(msg.payload).toLocaleString();\nreturn msg","outputs":1,"noerr":0,"x":494,"y":347,"wires":[["1b474973.7d8b77"]]},{"id":"8884ffcb.a875f8","type":"comment","z":"f1784199.91d75","name":"Scheduler GUI","info":"","x":247,"y":48,"wires":[]},{"id":"c09b265c.8fa568","type":"ui_group","z":"","name":"scheduler","tab":"cfe0c858.a8939","disp":false,"width":"6"},{"id":"cfe0c858.a8939","type":"ui_tab","z":"","name":"Scheduler","icon":"today","order":3}]
